<h1>Add a New Tennis Bag</h1>

<form action="/tennis_bags" method="POST">
  <label> Tennis Bag Name </label>
  <input type="text" name="name"> </br>

  <label> Tennis Bag Capacity </label>
  <input type="number" name="capacity"> </br>

  <input type="submit" value="Create">
</form>
