<p> Here is your Tennis Bag, <%= @user.username %>
<% @user.tennis_bags.each do |tennis_bag| %>
  <ul>
    <li><a href="/tennis_bags/<%=tennis_bag.id%>"><%= tennis_bag.name %></a></li>
  </ul>
<% end %>
